
#flexmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* BRUSH */

.brushIMG {
    top: calc(25vh - 100px);
    object-fit: contain;
    height: 180px;
    width: 180px;
} 

#brushlabel:hover {
  cursor: pointer;
}

/* FOOD */

.foodIMG {
    top: calc(50vh - 100px); 
    height: 180px;
    width: 180px;
    object-fit: contain;
} 

#foodlabel:hover {
  cursor: pointer;
}

/* WATER */

.waterIMG {
    top: calc(75vh - 100px);
    object-fit: contain;
    height: 180px;
    width: 180px;
} 

#waterlabel:hover {
  cursor: pointer;
}

/* CAT STATES */

.catIMGs {
    display: none;
    position: fixed;
    top: calc(50vh + 50px);
    left: 50vw;
    max-width: 533px;
    height: 85vh;
    transform: translateX(-50%) translateY(-50%);

} 

#restingcat {
  display: block;
}

/* FUNTIONALITY */

input {
display: none;
}

#water:checked ~ #food:checked ~ #happycat {
  display: block;
}

#water:checked ~ #brush:checked ~ #angrycat {
  display: block;
}

#food:checked ~ #brush:checked ~ #happycat {
  display: block;
}

input:checked ~ input:checked ~ input:checked ~ #angrycat {
  display: block;
}

label > img:nth-child(2) {
  display: none;
}

#water:checked ~ #flexmenu > #waterlabel > img:nth-child(1) {
  display: none;
}

#water:checked ~ #flexmenu > #waterlabel > img:nth-child(2) {
  display: block;
}

#food:checked ~ #flexmenu > #foodlabel > img:nth-child(1) {
  display: none;
}

#food:checked ~ #flexmenu > #foodlabel > img:nth-child(2) {
  display: block;
}

#brush:checked ~ #flexmenu > #brushlabel > img:nth-child(1) {
  display: none;
}

#brush:checked ~ #flexmenu > #brushlabel > img:nth-child(2) {
  display: block;
}

@media only screen and (max-width: 1000px) {
  #flexmenu {
    flex-direction: row;
  }
  .catIMGs {
    top: 50vh;
  }
}

@media only screen and (min-width: 1000px) {
  #flexmenu {
    margin-left: 10vw;
    height: 100vh;
  }
}