canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
}


.furnishings {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.chair {
    width: 400px;
    height: auto;
    display: block;
}

.button {
    position: absolute;
    top: -70;
    right: -90px;
    width: 200px;
    height: auto;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    pointer-events: none;
    object-fit: cover;
}